h2 {
  margin: 0px;
  font-size: 2.3rem;
}

.cross-button {
  font-size: 2rem;
  margin-right: 5px;
  background-color: white;
}

.search-bar {
  font-size: 2rem;
  text-align: center;
  height: max-content;
}

.navbar {
  height: fit-content;
  display: flex;
  color: beige;
  backdrop-filter: blur(10px);
  justify-content: space-between;
  background-color: rgb(59, 59, 59);
  margin-bottom: 20px;
}
