.product-card {
    width: 450px;
    height: fit-content;

    background-color:rgb(81, 137, 209);
    transition: 0.2s ease;
}

.product-image {
    margin: 0px 100px;
    width: 200px;
    height: 200px;
}

.product-card:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
    border-radius: 2px;
    border-color: azure;
    background-color: rgb(145, 185, 237);
}

.product-cat {
    width: fit-content;
    margin: 0px 2px;
    border-radius: 0px 6px;
    background-color: rgb(54, 54, 54);
    color: rgb(255, 199, 153);
}

.product-desc {
    text-align: justify;
    margin: 0 10px; 
}

.product-name {
    text-align: center;
}

.product-price {
    font-size: 1.5rem;
    text-align: center;
    color: green;
}