
.loader {
  display: grid;
  margin: 0 50%;
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fcf7f7 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  border: 1px;
  width: 50%;
}

.product-holder {
  margin: 0px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* default: 3 columns */
  gap: 30px;
  width: 90%; /* allow more width on smaller screens */
  max-width: 1200px;
}

@media (max-width: 810px) {
  .product-holder {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .product-holder {
    grid-template-columns: 1fr;
    width: 95%;
    gap: 16px;
  }
}



body {
  background-color: rgb(40, 44, 48);
  margin: 0px;
}